html {
    overflow-y: scroll;
}

body {
    font-family: "Courier New", Courier, Monaco, Menlo, Consolas, monospace;
}

a {
    color: #5795f3;
}

.logo a {
    font-family: 'Berkshire Swash', cursive;
    font-size: 66px;
    color: black;
    text-decoration: none;
    background-image:url(/static/img/shell.png);
    height: 132px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 276px 21px;
    margin-bottom: -41px;
    margin-top: 21px;
}
.logo a .shell {
    color: #5795f3;
}
.logo a .dotcom {
    font-size:smaller;
}

.program-text {
    font-weight: bold;
}

#command {
	font-size: 18px;
    word-spacing: 10px;
	text-align: center;
}

#command-wrapper {
    z-index: 3;
}

#command-wrapper.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 70px;
    box-shadow: 0 0 15px 5px #ffffff;
}

#about {
	text-align: justify;
    width: 700px;
    margin: 0 auto;
}

.btn, #explain {
	font-family: Courier;
}

#canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    pointer-events: none;
}

#help {
    z-index: 2;
}

.small-push {
    height: 20px;
}

.push {
    height: 40px;
}

.taggernooption {
    background-color: #f8c7c7;
}

.taggeroption {
    background-color: #caf8c7;
}

.taggercurrent {
    border-color: red;
    border-width: 2px;
}

.dropdown-menu {
    font-size: 14px;
}

#examples a {
    font-size: 15px;
}

#examples h3 {
    font-family: 'Berkshire Swash', cursive;
}

.menu {
    width: 460px; /* necessary for right:0 to work at #themeSelector */
    position: absolute;
    top: -30px;
    left: 240px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
}

#top-search {
   width: 150px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
   position: relative;
   top: -3px; /* looks a bit unaligned without this in chrome */
   left: 0;
}

#top-search:focus {
   left: -110px;
   width: 260px;
}

#prevnext {
    text-align: center;
    padding-top: 10px;
}

#prevnext li:not(:first-child), #prevnext span:not(:first-child) {
    cursor: pointer;
}

.help-box {
    background-color: white;
}

.help-synopsis {
    background-color: #f5f5f5;
}

.popover-content {
    font-size: 12px;
    text-align: justify;
}

.popover {
    font-weight: normal;
    max-width: 450px;
}

#themeContainer {
    /* using a fixed margin-left doesn't work both
       with and without the search bar in the menu */
    position: absolute;
    right: 0;
    margin-top: 5px;
    font-family: "Courier New",Courier,Monaco,Menlo,Consolas,monospace;
    font-size: 20px;
}

body[data-theme='dark'] {
    color: white;
}

[data-theme='dark'] a:not(:hover) {
    color: #92b9f3;
}

[data-theme='dark'] .logo a {
    color: white;
}

[data-theme='dark'] #command-wrapper.affix {
    background-color: #16181b;
    box-shadow: 0 0 15px 5px #16181b;
}

[data-theme='dark'] .help-box {
    background-color: transparent;
    color: white;
}

[data-theme='dark'] pre {
    background-color: #222;
    color: white;
}

[data-theme='dark'] .caret {
    /* this is probably a problem with the bootstrap theme */
    border-top: 4px solid #fff;
}
