.gitignore
.git/
.github/
misc/
tests/
tools/
venv/
.venv/
data/
dump/
docs/
logs/
manpages/
playwright-report/
.mpypy_cache/
*.pyc
*.log
*.db
*.db-wal
*.db-shm
README.md
docker-compose.yml
Dockerfile
Makefile
fly.toml
node_modules/
top100.txt
top1000.txt
