{% extends "base.html" %}
{% block title %} - about{% endblock %}
            {% block content -%}
            <div id="about">
                <p>Hello,</p>
                <p>This site contains 29761 parsed manpages from sections 1 and 8 found in
                <a href="http://manpages.ubuntu.com/">Ubuntu's manpage repository</a>.
                A lot of heuristics were used to extract the arguments of each
                program, and there are errors here and there, especially in
                manpages that have a non-standard layout.</p>

                <p>It is written in Python and uses <a
                    href="https://github.com/idank/bashlex">bashlex</a>, a bit
                of NLTK (to find the interesting parts of the manpage),
                a little d3.js (for the connecting lines graphic) and Flask. It
                is served with uwsgi and nginx. Source code is available <a
                href="https://github.com/idank/explainshell">on github</a>.</p>

                <p>My name is Idan Kamara and you can contact me at idan at explainshell dot com for any
                questions or suggestions.</p>
            </div>
            {%- endblock %}
