<!DOCTYPE html>
<html>
    <head>
        <title>explainshell.com{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
{%- if config.DEBUG %}
    {% if request.cookies.get('theme', 'default') == 'default' %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" id="bootstrapCSS">
        <link href="/static/css/highlight.default.min.css" rel="stylesheet" media="screen" id="hljsCSS">
    {% else %}
        <link href="/static/css/bootstrap-cyborg.min.css" rel="stylesheet" media="screen" id="bootstrapCSS">
        <link href="/static/css/hljs-atom-one-dark.min.css" rel="stylesheet" media="screen" id="hljsCSS">
    {% endif %}
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
{% else %}
    {% if request.cookies.get('theme', 'default') == 'default' %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" id="bootstrapCSS">
        <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" rel="stylesheet">
    {% else %}
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/2.3.1/cyborg/bootstrap.min.css" rel="stylesheet" media="screen" id="bootstrapCSS">
        <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" rel="stylesheet">
    {% endif %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
{%- endif %}
        <link href="/static/css/es.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        {% block head %}{% endblock %}
    </head>
    <body data-theme={{ request.cookies.get('theme', 'default') }}>
        <div class="container">
            <div class="small-push"></div>
            <div class="header">
                <div class="text-center logo">
                    <a href="/">
                        explain<span class="shell">shell</span>.<span class="dotcom">com</span>
                    </a>
                </div>
                <div style="position: relative;">
                    <ul class="inline menu">
                      <li><a href="/about">about</a></li>
                      <li><a href="https://github.com/idank/explainshell"><i class="icon-github"></i></a></li>
                      {% block menu %}<li><form action='/explain' method='get'><input id="top-search" name='cmd' type="text" autocapitalize="off" autocorrect="off" placeholder="explain..."></input></form></li>{% endblock %}
                      <li id="themeContainer" class="dropdown">
                        <span data-toggle="dropdown">theme</span>
                        <b class="caret" data-toggle="dropdown"></b>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" href="#" data-theme-name="default">Light</a></li>
                            <li><a tabindex="-1" href="#" data-theme-name="dark">Dark</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
                <div class="small-push"></div>
                <div class="text-center">
                    {% block header %}{% endblock %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
{%- if config.DEBUG %}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/underscore.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/highlight.min.js"></script>
{% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
{%- endif %}
        <script src="/static/js/es.js"></script>
        {%- block js %}{% endblock %}
    </body>
</html>
