<!DOCTYPE html>
<html>
    <head>
        <title>explainshell.com{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Resolve theme before loading CSS to prevent flash -->
        <script>
          (function() {
            var t = localStorage.getItem('theme')
              || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default');
            var dark = t === 'dark';
{%- if config.DEBUG %}
            var bs = dark ? '/static/css/bootstrap-cyborg.min.css' : '/static/css/bootstrap.min.css';
            var hl = dark ? '/static/css/hljs-atom-one-dark.min.css' : '/static/css/highlight.default.min.css';
{% else %}
            var bs = dark ? '//maxcdn.bootstrapcdn.com/bootswatch/2.3.1/cyborg/bootstrap.min.css' : '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css';
            var hl = dark ? '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css' : '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css';
{%- endif %}
            document.write('<link href="' + bs + '" rel="stylesheet" media="screen" id="bootstrapCSS">');
            document.write('<link href="' + hl + '" rel="stylesheet" id="hljsCSS">');
            document.documentElement.setAttribute('data-theme', t);
          })();
        </script>
{%- if config.DEBUG %}
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
{% else %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
{%- endif %}
        <link href="/static/css/es.css" rel="stylesheet" media="screen">
        <link href='//fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <script>document.body.setAttribute('data-theme', document.documentElement.getAttribute('data-theme') || 'default');</script>
        <div class="container">
            <div class="small-push"></div>
            <div class="header">
                <div class="text-center logo">
                    <a href="/">
                        explain<span class="shell">shell</span>.<span class="dotcom">com</span>
                    </a>
                </div>
                <div style="position: relative;">
                    <ul class="inline menu">
                      {% block menu %}<li><form action='{{ explain_prefix }}' method='get'><input id="top-search" name='cmd' type="text" autocapitalize="off" autocorrect="off" placeholder="explain..."></input></form></li>{% endblock %}
                    </ul>
                    <div class="menu-icons">
                      <a href="https://github.com/idank/explainshell" title="GitHub"><i class="icon-github"></i></a>
                      <div id="settingsContainer" class="dropdown">
                        <a href="#" data-toggle="dropdown" title="Settings"><i class="icon-cog"></i></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                          <li class="dropdown-header">Theme</li>
                          <li><a tabindex="-1" href="#" data-theme-name="default">Light</a></li>
                          <li><a tabindex="-1" href="#" data-theme-name="dark">Dark</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="small-push"></div>
                <div class="text-center">
                    {% block header %}{% endblock %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
{%- if config.DEBUG %}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/highlight.min.js"></script>
{% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
{%- endif %}
        <script src="/static/js/es.js"></script>
        {%- block js %}{% endblock %}
    </body>
</html>
