{% extends "base.html" %}
	{% block content %}
            {% if d %}
            <div class="small-push"></div>
            <div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>synopsis</th>
                            <th>options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mp in d.manpages -%}
                        <tr>
                            <td><a href="/explain/{{ mp.name }}">{{ mp.name }}</a></td>
                            <td>{{ mp.synopsis }}</td>
                            <td>{{ mp.options }}</td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
{% endblock %}
