{% extends "base.html" %}
{% block title %} - {{ getargs|e }}{% endblock %}
	{% block content %}
            <div id="navigate" style="position: relative;" class="small-push"></div>
            <svg id="canvas">
            </svg>
            <div class="push"></div>
            <div id="command">
            {% import 'macros.html' as macros -%}
            {% for m in matches -%}
                {%- if m.name -%}
                    {{ macros.outputcommandexplain(m, getargs) }}
                {%- else -%}
                    <span class="{{ m.commandclass }}"{% if m.helpclass %} helpref="{{ m.helpclass }}"{% endif %}>{{ m.match|e }}</span>
                {%- endif -%}{{ m.spaces|safe }}
            {%- endfor %}
            </div>
            <div style="height: 5px;"></div>
            <div style="height: 100px;"></div>
            <div>
                <table id="help" width="100%">
                    <tbody>
                        {% for text, id in helptext -%}
                        <tr>
                            <td>
                                <pre id="{{ id }}">{{ text|safe }}</pre>
                            </td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}
{% block footer -%}
<div class="push"></div><div class="text-center"><small>
{% for m in matches if m.name %}
{% if loop.first %}source manpages: {% endif %}
<a href="http://manpages.ubuntu.com/manpages/precise/en/man{{ m.section }}/{{ m.source|e }}.html">{{ m.name|e }}</a>{% if not loop.last %},&nbsp;{% endif %}
{% endfor %}
</small></div>
{%- endblock %}
{% block js -%}
{% if config.DEBUG %}
        <script src="/static/js/d3.v3.min.js"></script>
{% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js"></script>
{%- endif %}
        <script type="text/javascript">
            adjustcommandfontsize();
            currentgroup = initialize();
            navigation();

            $(document).ready(function() {
                drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);

                $(window).resize(function(){
                    clear(currentgroup);
                    drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);
                });
            });
        </script>
{%- endblock %}
