{% extends "base.html" %}
{% block title %} - {{ getargs|e }}{% endblock %}
	{% block content %}
            <div id="navigate" style="position: relative;" class="small-push"></div>
            <svg id="canvas">
            </svg>
            <div class="push"></div>
            <div id="command">
            {% import 'macros.html' as macros -%}
            {% for m in matches -%}
                {%- if m.name -%}
                    {{ macros.outputcommandexplain(m, getargs) }}
                {%- else -%}
                    <span class="{{ m.id }}">{{ m.match|e }}</span>
                {%- endif -%}{{ m.spaces|safe }}
            {%- endfor %}
            </div>
            <div style="height: 5px;"></div>
            <div style="height: 100px;"></div>
            <div>
                <table id="help" width="100%">
                    <tbody>
                        {% for text, id in helptext -%}
                        <tr>
                            <td>
                                <pre class="help-{{ id }}">{{ text|safe }}</pre>
                            </td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}
{% block footer -%}
<div class="push"></div><div class="text-center"><small>
{% for m in matches if m.name %}
{% if loop.first %}source manpages: {% endif %}
<a href="http://manpages.ubuntu.com/manpages/precise/en/man{{ m.section }}/{{ m.source|e }}.html">{{ m.name|e }}</a>{% if not loop.last %},&nbsp;{% endif %}
{% endfor %}
</small></div>
{%- endblock %}
{% block js -%}
{% if config.DEBUG %}
        <script src="/static/js/d3.v3.min.js"></script>
{% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js"></script>
{%- endif %}
        <script type="text/javascript">
            adjustcommandfontsize();
            currentgroup = initialize();

            // if we have more groups, show the prev/next buttons
            if (currentgroup.next) {
                var prev = $('<li><i class="icon-arrow-left icon-2"></i><span></span></li>');
                var next = $('<li><i class="icon-arrow-right icon-2"></i><span></span></li>');
                var prevnext = $('<ul class="inline" id="prevnext"><li>showing <u>all</u>, navigate:</li></ul>');
                prevnext.append(prev).append(next);
                $("#navigate").css('height', 'auto').append(prevnext);

                var nextext = next.find("span"),
                    prevtext = prev.find("span"),
                    currentext = prevnext.find("u");

                function grouptext(group) {
                    if (group.name == 'shell')
                        return 'shell syntax';
                    else if (group.name != 'all')
                        return group.commandselector.first().text();
                    return 'all';
                }

                nextext.text(" explain " + grouptext(currentgroup.next));
                prevtext.text(" explain " + grouptext(currentgroup.prev));

                prev.click(function() {
                    if (currentgroup.prev) {
                        console.log('moving to the previous group (%s), current group is %s', currentgroup.prev.name, currentgroup.name);
                        var oldgroup = currentgroup;
                        currentgroup = currentgroup.prev
                        currentext.text(grouptext(currentgroup));

                        clear(oldgroup);
                        drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);

                        if (!currentgroup.prev) {
                            console.log("new current group is the first group, disabling prev button");
                            prev.css({'display': 'none'});
                            prevtext.text('');
                        }
                        else {
                            console.log("setting prev button text to new current group prev %s", currentgroup.prev.name);

                            prevtext.text(" explain " + grouptext(currentgroup.prev));
                        }

                        if (currentgroup.next) {
                            next.css({'display': ''});
                            nextext.text(" explain " + grouptext(currentgroup.next));
                            console.log("setting next button text to new current group next %s", currentgroup.next.name);
                        }
                    }
                });

                next.click(function() {
                    if (currentgroup.next) {
                        console.log('moving to the next group (%s), current group is %s', currentgroup.next.name, currentgroup.name);
                        var oldgroup = currentgroup;
                        currentgroup = currentgroup.next
                        currentext.text(grouptext(currentgroup));

                        clear(oldgroup);
                        drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);

                        if (!currentgroup.next) {
                            console.log("new current group is the last group, disabling next button");
                            next.css({'display': 'none'});
                            nextext.text('');
                        }
                        else {
                            console.log("setting next button text to new current group next %s", currentgroup.next.name);
                            nextext.text(" explain " + grouptext(currentgroup.next));
                        }

                        if (currentgroup.prev) {
                            prev.css({'display': ''});
                            prevtext.text(" explain " + grouptext(currentgroup.prev));
                            console.log("setting prev button text to new current group prev %s", currentgroup.prev.name);
                        }
                    }
                });
            }

            $(document).ready(function() {
                drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);

                $(window).resize(function(){
                    clear(currentgroup);
                    drawgrouplines(currentgroup.commandselector, currentgroup.helpselector);
                });
            });
        </script>
{%- endblock %}
