{%- macro distro_items() -%}
{% if available_distros|length > 1 %}
                      <li class="dropdown-header">distro</li>
                      {% for distro, release in available_distros %}
                      {% if distro == active_distro and release == active_release %}
                      <li class="active-distro">{{ distro }} {{ release }}</li>
                      {% else %}
                      <li><a tabindex="-1" href="/explain/{{ distro }}/{{ release }}{{ distro_switch_suffix }}">{{ distro }} {{ release }}</a></li>
                      {% endif %}
                      {% endfor %}
{% endif %}
{%- endmacro %}

{% macro outputcommand(mp, suggestions) -%}
    {% if suggestions|length > 0 or available_distros|length > 1 %}
        <span class="dropdown">
            <b class="caret" data-toggle="dropdown"></b>
            {% if mp.url %}<a href="{{ mp.url }}">{{ mp.program|e }}</a>{% else %}{{ mp.program|e }}{% endif %}
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            {% if suggestions|length > 0 %}
              <li class="dropdown-header">other manpages</li>
            {% for d in suggestions %}
              <li><a tabindex="-1" rel="nofollow" href="{{ explain_prefix }}/{{ d.link }}">{{ d.text|e }}</a></li>
            {% endfor %}
            {% endif %}
              {{ distro_items() }}
            </ul>
        </span>
    {% else %}
    {% if mp.url %}<a href="{{ mp.url }}">{{ mp.program|e }}</a>{% else %}{{ mp.program|e }}{% endif %}
    {% endif %}
    {% if mp.synopsis %}- {{ mp.synopsis|e }}{% endif %}
{%- endmacro %}

{%- macro outputcommandexplain(d) -%}
    {% if d.suggestions|length > 0 or available_distros|length > 1 -%}
                <span class="dropdown">
                    <span style="word-spacing: 0px;">
                    <b class="caret" data-toggle="dropdown"></b>
                    <span {{ spanclasses(d) }}><a href="{{ explain_prefix }}/{{ d.section }}/{{ d.source }}">{{ d.match|safe }}</a></span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                      {% if d.suggestions|length > 0 %}
                      <li class="dropdown-header">other manpages</li>
                      {% for dd in d.suggestions -%}
                      <li><a tabindex="-1" rel="nofollow" href="{{ explain_prefix }}?cmd={{ dd.cmd|urlencode }}">{{ dd.text|e }}</a></li>
                      {%- endfor %}
                      {% endif %}
                      {{ distro_items() }}
                    </ul>
                    </span>
                </span>
    {%- else -%}
    <span {{ spanclasses(d) }} style="word-spacing: 0px;"><a href="{{ explain_prefix }}/{{ d.section }}/{{ d.source }}">{{ d.match|safe }}</a></span>
    {%- endif %}
{%- endmacro %}

{%- macro spanclasses(d) -%}
class="{{ d.commandclass }}"{% if d.helpclass %} helpref="{{ d.helpclass }}"{% endif %}
{%- endmacro %}

{%- macro examplebullet(cmd) -%}
<li><a href='{{ explain_prefix }}?cmd={{ cmd|urlencode }}'><pre class="highlightjs"><code class="language-bash">{{ cmd|e }}</code></pre></a></li>
{%- endmacro %}
