{% extends "base.html" %}
{% block title %} - {{ distro }} {{ release }} manpages{% endblock %}
{% block content %}
            <div class="small-push"></div>
            <div class="push"></div>
            <div id="command" style="word-spacing: 0px;">
                {{ distro }} {{ release }}
            </div>
            <div class="small-push"></div>
            <div>
                <ul>
                    {% for section in sections %}
                    <li><a href="/manpage/{{ distro|e }}/{{ release|e }}/{{ section|e }}/">section {{ section|e }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}
